.fotos {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 12px;

    .fotos_item {
        img {
            object-fit: cover;
        }
        p {
            text-align: center;
            padding-top: 24px;
        }
    }
    .fotos_bottom {
        display: flex;
        width: 1200px;
        height: 460px;
        margin-top: 89px;

        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
