@font-face {
  font-family: "Open Sans";
  src: url("/fonts/OpenSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
.header .header__top .header__top-black {
  background: #000;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
}
.header .header__top .header__top-black .header__top-text {
  padding: 11px 12px;
}
.header .header__top .header__top-black .header__top-text .header__top-black-link {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-family: "Open Sans";
  font-size: 12px;
  user-select: none;
}
.header .header__top .header__top-panel {
  display: flex;
  justify-content: center;
  background: #fff;
  box-shadow: 0px -1px 0px 0px rgba(0, 0, 0, 0.04);
}
.header .header__top .header__top-panel .header__top-logo {
  flex: 1;
  display: flex;
  justify-content: center;
  margin: 18px 18px;
}
.header .header__top .header__top-panel .header__top-actions {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header .header__top .header__top-panel .header__top-actions .header__top-icons {
  display: flex;
  align-items: center;
  gap: 22px;
  padding-right: 53px;
  cursor: pointer;
  user-select: none;
}
.header .header__top .header__top-panel .header__top-empty {
  flex: 1;
}
.header .header__main {
  position: relative;
  height: 584px;
}
.header .header__main .splide {
  bottom: 17px;
}
.header .header__main .splide__slide img {
  height: 584px;
  object-fit: cover;
}
.header .header__main .header__main-nav {
  position: relative;
  top: 30px;
  display: flex;
  justify-content: space-between;
  color: #000;
  text-align: center;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 0px 96px 0px 128px;
  z-index: 1;
}
.header .header__main .header__main-nav .header__main-links {
  display: flex;
  gap: 32px;
}
.header .header__main .header__main-nav .header__main-links li {
  list-style: none;
}
.header .header__main .header__main-nav .header__main-links li a {
  color: #000;
  text-decoration: none;
}
.header .header__main .header__main-nav .header__main-stores {
  display: flex;
  gap: 23px;
}
.header .header__main .header__main-nav .header__main-stores a {
  color: #000;
  text-decoration: none;
}
.header .header__main .header__main-text {
  display: flex;
  position: absolute;
  top: 285px;
  left: 81.67%;
  max-width: 142px;
  text-align: start;
  color: #000;
  font-family: "Open Sans";
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.25px;
  text-transform: uppercase;
}

.sustainable {
  position: relative;
}
.sustainable .sustainable_icon {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 95px;
  left: 18px;
}
.sustainable .sustainable_icon .icon {
  width: 48px;
  height: 48px;
  flex-shrink: 0;
}
.sustainable h2 {
  display: flex;
  justify-content: center;
  padding-top: 156px;
  padding-bottom: 168px;
}

.fotos {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 12px;
}
.fotos .fotos_item img {
  object-fit: cover;
}
.fotos .fotos_item p {
  text-align: center;
  padding-top: 24px;
}
.fotos .fotos_bottom {
  display: flex;
  width: 1200px;
  height: 460px;
  margin-top: 89px;
}
.fotos .fotos_bottom img {
  width: 100%;
  object-fit: cover;
}
.fotos .fotos_colection {
  display: flex;
  text-align: center;
  padding: 72px 83px;
}
.fotos .fotos_images {
  display: flex;
}
.fotos .fotos_images .fotos_h2-one,
.fotos .fotos_images .fotos_h2-second {
  width: 100%;
}
.fotos .fotos_images .fotos_h2-one img,
.fotos .fotos_images .fotos_h2-second img {
  width: 100%;
}
.fotos .fotos_images .fotos_h2-one h2,
.fotos .fotos_images .fotos_h2-second h2 {
  color: #000;
  text-align: center;
  font-family: Roboto;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 16.2px;
  padding-top: 25px;
  padding-bottom: 55px;
}

.footer {
  background: #fafafa;
}
.footer .footer_subscribe {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 158px;
  padding-right: 233px;
  text-align: start;
}
.footer .footer_subscribe h2 {
  width: 100%;
  text-align: start;
  max-width: 260px;
  color: #000;
  font-family: "Open Sans";
  font-size: 19px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer_subscribe .footer_subscribe-send {
  border-radius: 0px 5px 5px 0px;
  margin-top: 64px;
  margin-bottom: 64px;
}
.footer .footer_subscribe .footer_subscribe-send img {
  background: #fff;
  padding: 21px 21px 21px 241px;
}
.footer .footer_contacts {
  width: 100%;
}
.footer .footer_contacts ul {
  display: flex;
  justify-content: space-between;
  padding-left: 158px;
  padding-right: 215px;
}
.footer .footer_contacts ul li {
  list-style: none;
}
.footer .footer_contacts ul li h2 {
  color: #000;
  font-family: "Open Sans";
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  padding-top: 12px;
  padding-bottom: 27px;
}
.footer .footer_contacts ul li p {
  color: #939292;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer_contacts ul li .footer_contact-us {
  text-align: start;
  border-right: 1px solid #e5e5e5;
  padding-right: 121px;
}
.footer .footer_contacts ul li .footer_contact-us h2 {
  padding-bottom: 27px;
}
.footer .footer_contacts ul li .footer_contact-us p {
  line-height: 24px;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons {
  display: flex;
  gap: 32px;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-email {
  display: flex;
  flex-direction: column;
  padding-top: 32px;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-email a {
  display: flex;
  justify-content: center;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-email a img {
  display: flex;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-email p {
  padding-top: 14px;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-help {
  padding-top: 32px;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-help a {
  display: flex;
  justify-content: center;
}
.footer .footer_contacts ul li .footer_contact-us .footer_contact-us-icons .footer_contact-help p {
  padding-top: 7px;
}
.footer .footer_contacts ul li .footer_about {
  padding-right: 115px;
  padding-left: 40px;
}
.footer .footer_contacts ul li .footer_customer {
  padding-right: 84px;
}
.footer .footer_bottom-panel {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 95px 160px 32px 158px;
}
.footer .footer_bottom-panel p {
  color: #939292;
  font-family: "Open Sans";
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}
.footer .footer_bottom-panel .footer_boottom-leng {
  padding: 5px 34px 7px 7px;
  background: #fff;
  text-transform: uppercase;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background: #fff;
}

.container {
  position: relative;
  margin: 0 auto;
  max-width: 1200px;
  background: #fff;
}

/*# sourceMappingURL=style.css.map */
